body {
  font-family: 'Roboto', sans-serif;
}

header nav ul li a {
  color: #FFFFFF;
  line-height: 40px;
  letter-spacing: 0.7px;
}
header nav ul li a:hover {
  color: #37bfd6;
}
header nav ul li .material-icons {
  vertical-align: middle;
  margin-top: -3px;
  color: #37bfd6;
}

.language.en .en,
.language.th .th {
  color: #37bfd6;
}
header nav ul li.button a {
  background: linear-gradient(90deg, #0376bd 0%, #37bfd6 100%);
  line-height: 40px;
  white-space: nowrap;
  display: inline-block;
  padding: 0 20px;
  border-radius: 50px;
  color: #FFFFFF;
  transition: 0.5s;
}
header nav ul li.button a:hover {

}
header nav ul li ul {
  overflow: hidden;
  transition: 0.3s;
  max-height: 0;
}
header nav ul li.showSubMenu ul {
  display: block;
  max-height: 1000px;
}
header nav ul li .material-icons {
  transition: 0.3s;
}
header nav ul li.showSubMenu .material-icons {
  transform: rotate(180deg);
}


@media only screen and (max-width:991px) {
  header nav {
    max-height: 0;
    transition: 0.5s;
  }
  header nav.show {
    max-height: 2000px;
  }
  header .logo {
    background-color: #153052;
    margin-left: -12px;
    margin-right: -12px;
    padding: 20px 12px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
  header .toggle-mobile {
    display: block;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  header .toggle-mobile span {
    font-size: 30px;
    color: #FFFFFF;
  }
  header .logo img {
    max-width: 200px;
  }
  header nav {
    background-color: #f5f5f5;
    margin-left: -12px;
    margin-right: -12px;
    overflow: hidden;
  }
  header nav > ul {
    padding: 30px 50px;
  }
  header nav > ul {
    border-top: 3px solid #37bfd6;
  }
  header nav ul li a {
    color: #153052;
  }
  
  header nav ul li ul li {
    max-width: 130px;
    margin-left: 10px;
  }
  header nav ul li ul li a {
    font-size: 14px;
    color: #627f96;
    line-height: 1.6em;
    padding: 10px 0;
    display: block;
  }
  header nav ul li.language,
  header nav ul li.button {
    margin-top: 10px;
    text-align: center;
  }
}
@media only screen and (min-width:992px) and (max-width:1197px) {
  header .logo {
    text-align: center;
  }
  nav {
    margin-top: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:1198px) {
  header .logo {
    text-align: left;
  }
  header > div {
    display: grid; 
    grid-template-columns: auto auto;
    align-items: center;
  }
}

@media screen and (min-width:992px) {
  header .toggle-mobile {
    display: none;
  }
  header {
    padding: 20px 0;
    background-color: #153052;
  }
  header nav {
    max-height: auto;
  }
  header nav ul {
    display: grid; 
    grid-template-columns: repeat(7, auto);
    justify-content: space-between;
    align-items: center; 
  }
  header nav ul li {
    display: inline-block;
    color: #FFFFFF;
    position: relative;
  }
 
  header nav ul li ul {
    position: absolute;
    right: 0;
    left: 0;
    transform: translateX(-19%);
    top: 40px;
    font-size: 12px;
    padding-top: 20px;
    width: 220px;
    display: block;
  }

  header nav ul li ul li {
    display: block;
  }
  header nav ul li ul li a {
    background-color: #153052;
    display: block;
    width: 100%;
    font-size: 12px;
    padding: 0 15px;
  }
 
  header nav ul li ul li:first-child a {
    border-top: 3px solid #37bfd6;
  }
  header nav ul li ul li:last-child a {
    padding-bottom: 10px;
  }
}

/* Footer */
footer {
  font-weight: 300;
  padding: 36px 0;
  background-color: #FFFFFF;
}
footer .text-right {
  text-align: right;
}
footer .address {
  max-width: 300px;
}
footer .address strong {
  color: #000000;
  display: block;
}
footer .address,
footer .tel,
footer .email,
footer .web {
  margin-bottom: 15px;
  font-size: 14px;
  color: #58595b;
  padding-left: 30px;
  background-repeat: no-repeat;
  transition: 0.5s;
}
footer .logo img {
  max-width: 100%;
}
footer .logo {
  margin-bottom: 15px;
  
}
@media screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }
  footer .logo {
    margin-bottom: 30px;
  }  
}
footer .address {
  background-position: 0 0px;
}
footer .tel {
  background-image: url('');
  background-position: 0 5px;
}
footer .email {
  background-position: 0 6px;
}
footer .social-group {
  margin-top: 10px;
  margin-bottom: 20px;
}
footer .social-group .icon {
  background: #58585b;
  display: inline-block;
  border-radius: 50%;
  margin-left: 8px;
  transition: background 0.3s;
}
footer .social-group .icon.facebook:hover {
  background: #3F5CA1;
}
footer .social-group .icon.youtube:hover {
  background: #E33122;
}
footer .social-group .icon.twitter:hover {
  background: #62B3E8;
}
footer .social-group .icon.instgram:hover {
  background: #C54C7E;
}
footer .social-group .icon.messenger:hover {
  background: #3D8EF7;
}
footer .social-group .icon img {
  display: block;
}
footer .link-underline {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  letter-spacing: 2px;
  margin-bottom: 26px;
}
footer .link-underline a {
  color: #58595b;
  position: relative;
  padding-bottom: 5px;
}

@media screen and (min-width: 768px) {
  footer .social-group {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  footer .link-underline {
    margin-bottom: 37px;
  }
}
footer .link-underline a::after {
  content: "";
  height: 3px;
  width: 100%;
  max-width: 66px;
  background-color: #59c5c5;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
footer .link-underline a:hover::after {
  max-width: 200px;
}

/* Slick Global */
button.slick-arrow:active {
  color: #000000;
}
button.slick-arrow {
  appearance: none;
  border: none;
  border-radius: 50%;
  display: block;
  width: 49px !important;
  height: 49px  !important;
  box-shadow: 0 2px 4px 0 #8495ac;
  background-color: #ffffff;
}
button.slick-arrow span {
  line-height: 45px;
  text-align: center;
}
ul.slick-dots {
  width: 100%;
  display: block;
}
ul.slick-dots li {
  display: inline-block;
}
ul.slick-dots li {
  margin: 5px;
}
ul.slick-dots li.slick-active button {
  width: 20px;
  background-color: #8495ac;
  box-shadow: 1px 2px 4px 0 rgba(21, 48, 82, 0.65);
}
ul.slick-dots li button {
  color: transparent;
  border: none;
  height: 12px;
  width: 12px;
  font-size: 0;
  border-radius: 10px;
  outline: none;
  display: block;
  background-color: #bfccd8;
  transition: 0.5s;
}

section.the-future {
  padding: 153px 0;
  text-align: center;
  background-position: center center;
  background-size: cover;
}

.blue-bg-group {
  background-color: #153052;
  padding-top: 35px;
}
@media screen and (min-width: 992px) {
  .blue-bg-group {
    padding-top: 80px;
  } 
}

/* Insight */
section.insight {}
section.insight #slick-insight {
  grid-template-columns: 50px auto 50px;
  text-align: center;
}
section.insight #slick-insight .slick-dots {
  margin-top: 25px;
}
section.insight .item {
  background-color: #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  height: 100px;
}
@media screen and (min-width: 992px) {
  section.insight #slick-insight {
    display: grid;
    gap: 20px;
  }
}
section.insight h1 {
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.79px;
  color: #59c5c5;
  position: relative;
  padding-bottom: 10px;
  
}
section.insight h1:after {
  content: "";
  height: 2px;
  width: 152px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
}
section.insight .slide-container {
  padding-top: 22px;
  padding-bottom: 35px;
}
@media screen and (min-width: 992px) {
  section.insight h1 {
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: left;
    color: #59c5c5;
    padding-bottom: 25px;
  }
  section.insight .slide-container {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}


/* Clients */
section.clients {}
section.clients h1 {
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.79px;
  color: #59c5c5;
  position: relative;
  padding-bottom: 10px;
}
section.clients h1:after {
  content: "";
  height: 2px;
  width: 152px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
}
section.clients .slide-container {
  padding-top: 22px;
  padding-bottom: 35px;
}
@media screen and (min-width: 992px) {
  section.clients h1 {
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: left;
    color: #59c5c5;
    padding-bottom: 25px;
    
  }
  section.clients .slide-container {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}
section.clients #slick-clients {
  text-align: center;
  padding: 30px 25px 25px;
  border-radius: 20px;
  box-shadow: 3px 8px 18px 0 rgba(155, 155, 155, 0.34);
  background-color: #ffffff;
}
section.clients #slick-clients .slick-app {
  grid-template-columns: 50px auto 50px;
}
@media screen and (min-width: 992px) {
  section.clients #slick-clients .slick-app  {
    display: grid;
    gap: 20px;
  }
}

/* Future */
section.the-future h1 {
  font-family: 'Shippori Mincho', serif;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.5px;
  text-align: center;
  color: #153052;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 32px;
}
section.the-future h1:after {
  content: "";
  height: 2px;
  width: 152px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #59c5c5;
  transform: translateX(-50%);
}
section.the-future a {
  line-height: 40px;
  height: 40px;
  padding: 0 53px;
  border-radius: 20px;
  background-color: #8495ac;
  transition: 0.5s;
  font-size: 14px;
  letter-spacing: 0.88px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  margin: 15px;
}
section.the-future a.button {
  background: linear-gradient(90deg, #0376bd 0%, #37bfd6 100%);
}

@media screen and (min-width: 992px) {
  section.the-future {
    padding: 177px 0;
  }
  section.the-future br {
    display: none;
  }
  section.the-future h1 {
    margin-bottom: 49px;
    font-size: 42px;
  }
}

/* Career */
section.career {
  padding: 46px 0;
  text-align: center;
  background-color: #153052;
}
section.career h1,
section.career p,
section.career a {
  margin-bottom: 30px;
  color: #ffffff;
}
section.career h1 {
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.79px;
  text-align: center;
  color: #59c5c5;
  position: relative;
  padding-bottom: 25px;
}
section.career h1:after {
  content: "";
  height: 2px;
  width: 152px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #FFFFFF;
  transform: translateX(-50%);
}
section.career a {
  width: 165px;
  height: 40px;
  margin: 30px 65px 0 66px;
  padding: 12px 53px;
  border-radius: 20px;
  background-color: #8495ac;
  transition: 0.5s;
}
section.career a:hover {
  background-color: #0376bd;
}

@media screen and (min-width: 768px) {
  section.career {
    padding: 80px 0;
  } 
  section.career h1 {
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: #59c5c5;
    
  }
  section.career h1,
  section.career a {
    margin-bottom: 50px;
  }
  section.career p {
    margin-bottom: 10px;
  }
  section.career p ~ p {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    white-space: nowrap;
  }
}