body {
  font-family: 'Roboto', sans-serif;
}

header nav ul li a {
  color: #FFFFFF;
  line-height: 40px;
  letter-spacing: 0.7px;
}
header nav ul li a:hover {
  color: #37bfd6;
}
header nav ul li .material-icons {
  vertical-align: middle;
  margin-top: -3px;
  color: #37bfd6;
}

.language.en .en,
.language.th .th {
  color: #37bfd6;
}
header nav ul li.button a {
  background: linear-gradient(90deg, #0376bd 0%, #37bfd6 100%);
  line-height: 40px;
  white-space: nowrap;
  display: inline-block;
  padding: 0 20px;
  border-radius: 50px;
  color: #FFFFFF;
  transition: 0.5s;
}
header nav ul li.button a:hover {

}
header nav ul li ul {
  overflow: hidden;
  transition: 0.3s;
  max-height: 0;
}
header nav ul li.showSubMenu ul {
  display: block;
  max-height: 1000px;
  z-index: 9999;
}
header nav ul li .material-icons {
  transition: 0.3s;
}
header nav ul li.showSubMenu .material-icons {
  transform: rotate(180deg);
}


@media only screen and (max-width:991px) {
  header nav {
    max-height: 0;
    transition: 0.5s;
  }
  header nav.show {
    max-height: 2000px;
  }
  header .logo {
    background-color: #153052;
    margin-left: -12px;
    margin-right: -12px;
    padding: 20px 12px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
  header .toggle-mobile {
    display: block;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  header .toggle-mobile span {
    font-size: 30px;
    color: #FFFFFF;
  }
  header .logo img {
    max-width: 200px;
  }
  header nav {
    background-color: #f5f5f5;
    margin-left: -12px;
    margin-right: -12px;
    overflow: hidden;
  }
  header nav > ul {
    padding: 30px 50px;
  }
  header nav > ul {
    border-top: 3px solid #37bfd6;
  }
  header nav ul li a {
    color: #153052;
  }
  header nav ul li ul {
    z-index: 9999;
  }
  header nav ul li ul li {
    max-width: 130px;
    margin-left: 10px;
  }
  header nav ul li ul li a {
    font-size: 14px;
    color: #627f96;
    line-height: 1.6em;
    padding: 10px 0;
    display: block;
  }
  header nav ul li.language,
  header nav ul li.button {
    margin-top: 10px;
    text-align: center;
  }
}
@media only screen and (min-width:992px) and (max-width:1197px) {
  header .logo {
    text-align: center;
  }
  nav {
    margin-top: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:1198px) {
  header .logo {
    text-align: left;
  }
  header > div {
    display: grid; 
    grid-template-columns: auto auto;
    align-items: center;
  }
}

@media screen and (min-width:992px) {
  header .toggle-mobile {
    display: none;
  }
  header {
    padding: 20px 0;
    background-color: #153052;
  }
  header nav {
    max-height: auto;
  }
  header nav ul {
    display: grid; 
    grid-template-columns: repeat(7, auto);
    justify-content: space-between;
    align-items: center; 
  }
  header nav ul li {
    display: inline-block;
    color: #FFFFFF;
    position: relative;
  }
 
  header nav ul li ul {
    position: absolute;
    right: 0;
    left: 0;
    transform: translateX(-19%);
    top: 40px;
    font-size: 12px;
    padding-top: 20px;
    width: 220px;
    display: block;
  }

  header nav ul li ul li {
    display: block;
  }
  header nav ul li ul li a {
    background-color: #153052;
    display: block;
    width: 100%;
    font-size: 12px;
    padding: 0 15px;
  }
 
  header nav ul li ul li:first-child a {
    border-top: 3px solid #37bfd6;
  }
  header nav ul li ul li:last-child a {
    padding-bottom: 10px;
  }
}

/* Footer */
footer {
  font-weight: 300;
  padding: 36px 0;
  background-color: #FFFFFF;
}
footer .text-right {
  text-align: right;
}
footer .address {
  max-width: 300px;
}
footer .address strong {
  color: #000000;
  display: block;
}
footer .address,
footer .tel,
footer .email,
footer .web {
  margin-bottom: 15px;
  font-size: 14px;
  color: #58595b;
  padding-left: 30px;
  background-repeat: no-repeat;
  transition: 0.5s;
}
footer .logo img {
  max-width: 100%;
}
footer .logo {
  margin-bottom: 15px;
  
}
@media screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }
  footer .logo {
    margin-bottom: 30px;
  }  
}
footer .address {
  background-position: 0 0px;
}
footer .tel {
  background-image: url('');
  background-position: 0 5px;
}
footer .email {
  background-position: 0 6px;
}
footer .social-group {
  margin-top: 10px;
  margin-bottom: 20px;
}
footer .social-group .icon {
  background: #58585b;
  display: inline-block;
  border-radius: 50%;
  margin-left: 8px;
  transition: background 0.3s;
}
footer .social-group .icon.facebook:hover {
  background: #3F5CA1;
}
footer .social-group .icon.youtube:hover {
  background: #E33122;
}
footer .social-group .icon.twitter:hover {
  background: #62B3E8;
}
footer .social-group .icon.instgram:hover {
  background: #C54C7E;
}
footer .social-group .icon.messenger:hover {
  background: #3D8EF7;
}
footer .social-group .icon img {
  display: block;
}
footer .link-underline {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  letter-spacing: 2px;
  margin-bottom: 26px;
}
footer .link-underline a {
  color: #58595b;
  position: relative;
  padding-bottom: 5px;
}

@media screen and (min-width: 768px) {
  footer .social-group {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  footer .link-underline {
    margin-bottom: 37px;
  }
}
footer .link-underline a::after {
  content: "";
  height: 3px;
  width: 100%;
  max-width: 66px;
  background-color: #59c5c5;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
footer .link-underline a:hover::after {
  max-width: 200px;
}


/* Slick Global */
.slick-app {
  position: relative;
}
.slick-arrow ~ .slick-list {
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
button.slick-prev { left: 0; }
button.slick-next { right: 0;}

button.slick-arrow:active {
  color: #000000;
}
button.slick-arrow {
  appearance: none;
  border: none;
  border-radius: 50%;
  display: block;
  width: 49px !important;
  height: 49px  !important;
  box-shadow: 0 2px 4px 0 #8495ac;
  background-color: #ffffff;
  padding: 0;
}
button.slick-arrow {
  width: 100%;
}
button.slick-arrow span {
  line-height: 45px;
  text-align: center;
}
ul.slick-dots {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
}
ul.slick-dots li {
  display: inline-block !important;
  margin: 5px;
}

ul.slick-dots li.slick-active button {
  width: 20px;
  background-color: #8495ac;
  box-shadow: 1px 2px 4px 0 rgba(21, 48, 82, 0.65);
}
ul.slick-dots li button {
  color: transparent;
  border: none;
  height: 12px;
  width: 12px;
  font-size: 0;
  border-radius: 10px;
  outline: none;
  background-color: #bfccd8;
  transition: 0.5s;
  position: relative;
}

section.the-future {
  padding: 153px 0;
  text-align: center;
  background-position: center center;
  background-size: cover;
}


/* section.hero */
section.hero {
}
section.hero, 
section.item {
  background-size: cover;
  background-position: center top;
}
section.hero .slick-dots {
  margin-top: -40px;
}
section.hero .slick-arrow ~ .slick-list {
  margin-left: 0px;
  margin-right: 0px;
}
section.hero .item {
  padding: 50px 0 80px 0;
}
section.hero .item h1 {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 3.5px;
  text-align: center;
  color: #ffffff;
  font-family: 'Shippori Mincho', serif;
  margin-top: 10px;
  white-space: normal;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  section.hero .item h1 {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  section.hero .item h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  section.hero .item h1 {
    font-size: 38px;
  }
}
@media screen and (min-width: 1400px) {
  section.hero .item h1 {
    font-size: 42px;
  }
}
section.hero .desc {
  max-width: 630px;
  line-height: 1.64;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  margin-top: 35px;
  margin-bottom: 55px;
}

section.hero {
  position: relative;
}
section.hero button.slick-arrow {
  position: absolute;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  section.hero button.slick-prev {
    left: 50px;
  }
  section.hero button.slick-next {
    right: 50px;
  } 
}

section.hero .button-group {
  display: block;
  text-align: center;
}
section.hero a.button {
  /* background: linear-gradient(90deg, #0376bd 0%, #37bfd6 100%); */
  background: #8495ac;
  line-height: 40px;
  white-space: nowrap;
  display: inline-block;
  padding: 0 20px;
  border-radius: 50px;
  color: #FFFFFF;
  transition: 0.5s;
  text-transform: uppercase;
  margin: 5px;
}
section.hero a.button:hover {
  background-color: #0376bd;
}
section.hero a.button.blue {
  border: solid 1px #ffffff;
  background-color: #153052;
}
@media screen and (min-width: 992px) {
  section.hero a.button {
    margin: 10px;
  } 
} 


/* section.what-we-offer */
section.what-we-offer {
  position: relative;
  padding-top: 35px;
}
@media screen and (min-width: 992px) {
  section.what-we-offer {
    padding-top: 60px;
  } 
}
@media screen and (min-width: 1200px) {
  section.what-we-offer {
    padding-top: 80px;
  } 
}

section.what-we-offer h1 {
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.79px;
  color: #153052;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
section.what-we-offer h1:after {
  content: "";
  height: 2px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #59c5c5;
}
@media screen and (min-width: 992px) {
  section.what-we-offer h1:after {
    width: 152px;
  }
  section.what-we-offer h1 {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: left;
    padding-bottom: 25px;
  }
}
section.what-we-offer .description {
  font-size: 16px;
  line-height: 1.88;
  color: #58595b;
  margin-bottom: 25px;
}
section.what-we-offer .slide-container {
  padding: 0px 0 40px 0;
}
@media screen and (min-width: 768px) {
  section.what-we-offer .slide-container {
    padding: 20px 0 60px 0;
  } 
}
@media screen and (min-width: 1200px) {
  section.what-we-offer .slide-container {
    padding: 40px 0 80px 0;
  } 
}
@media screen and (min-width: 768px) {
  section.what-we-offer .container.slick {
    max-width: 1900px !important;
  }
}
section.what-we-offer .item {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center center;
}
section.what-we-offer .item .expand-group.blue {
  background-color: #153052;
}
section.what-we-offer .item .expand-group.gray {
  background-color: #8495ac;
}
section.what-we-offer .item .expand-group .title {
  height: 60px;
  display: grid;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  line-height: 1.2em;
  overflow: hidden;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  section.what-we-offer .item .expand-group .title {
    pointer-events: none;
  }  
}

section.what-we-offer .item .expand-group .title span {
    transform: rotate(0deg);
    transition: 0.5s;
  }
section.what-we-offer .item .expand-group .desc {
  font-size: 14px;
  line-height: 1.64;
  text-align: center;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  height: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 9; 
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
  transition: 0.5s;

}
section.what-we-offer .item .expand-group .readmore span {
  vertical-align: middle;
  font-size: 20px;
  margin-top: -4px;
}
section.what-we-offer .item .expand-group .readmore a {
  color: #FFFFFF;
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  background-color: rgba(0,0,0,0.2);
}
section.what-we-offer .item .expand-group .readmore {
  text-align: center;
}
section.what-we-offer .item {
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 767px) {
  section.what-we-offer .item {
    max-height: 60px;
    transition: 0.5s;
  }
  section.what-we-offer .item .title {
    height: 60px !important;
  }
  /* section.what-we-offer .item.expanded {
    max-height: 325px;
  }
  section.what-we-offer .item .expand-group .title span {
    transition: 0.5s;
  }
  section.what-we-offer .item.expanded .expand-group .title span {
    transform: rotate(180deg);
  } */
}
@media screen and (min-width: 768px) {
  section.what-we-offer .item .expand-group {
    transform: translatey(295px);
    transition: 0.5s;
  }
  section.what-we-offer .item .expand-group .title span {
    transform: rotate(180deg);
  }
  section.what-we-offer .item.expanded .expand-group .title {
    height: 80px;
  }
  
  section.what-we-offer .item.expanded .expand-group .title span {
    transform: rotate(0deg);
  }
  section.what-we-offer .item:hover .expand-group .title span {
    transform: rotate(0deg);
  }

  section.what-we-offer .item:hover .expand-group .title {
    height: 80px;
  }
   section.what-we-offer .item.expanded .expand-group {
    transform: translatey(0px);
  }
  section.what-we-offer .item:hover .expand-group {
    transform: translatey(0px);
  }

  section.what-we-offer .item:hover .expand-group .desc {
    height: 200px;
  }

}

/* section we app */
section.we-aap {
  background-color: #153052;
  background-size: cover;
  background-position: bottom right;
  padding: 40px 0;
}
@media screen and (min-width: 992px) {
  section.we-aap {
    padding: 80px 0;
  }
}
section.we-aap h1 {
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.79px;
  color: #59c5c5;
  position: relative;
  padding-bottom: 10px;
}
section.we-aap h1:after {
  content: "";
  height: 2px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
}
@media screen and (min-width: 992px) {
  section.we-aap h1:after {
    width: 152px;
  }
  section.we-aap h1 {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: left;
    padding-bottom: 25px;
  }
}
section.we-aap .slide-container {
  border-radius: 20px;
  box-shadow: 3px 8px 18px 0 rgba(155, 155, 155, 0.34);
  background-color: #e6eaf6;
  padding: 15px;
}
section.we-aap #slick-we-aap button.slick-arrow {
  box-shadow: none;
}

@media screen and (min-width: 992px) {
  section.we-aap .slide-container {
    padding: 33px 20px;
  }
}
section.we-aap .article {
  font-size: 16px;
  color: #ffffff;
  padding-top: 22px;
  padding-bottom: 22px;
}
@media screen and (min-width: 992px) {
  section.we-aap .article {
    font-size: 19px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  section.we-aap .article {
    font-size: 22px;
  }
}
section.we-aap .slick-app .item {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}
section.we-aap .slick-app .item .top-section {
  display: grid;
  grid-template-columns: 20px auto;
  gap: 10px;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  section.we-aap .slick-app .item .top-section {
    grid-template-columns: 30px auto;
  }
}
@media screen and (min-width: 1400px) {
  section.we-aap .slick-app .item .top-section {
    grid-template-columns: 50px auto;
  }
}
section.we-aap .slick-app .item .top-section .quote img {
  max-width: 100%;
}
section.we-aap .slick-app .item .top-section .text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: 0.2px;
  text-align: center;
  color: #58595b;
  font-family: 'Shippori Mincho', serif;
  max-width: 460px;
  position: relative;
  padding-bottom: 30px;
}

section.we-aap .slick-app .item .top-section .text:after {
  content: "";
  height: 2px;
  width: 152px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #59c5c5;
}

@media screen and (min-width: 992px) {
  section.we-aap .slick-app .item .top-section .text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  section.we-aap .slick-app .item .top-section .text {
    font-size: 28px;
  }
}
section.we-aap .slick-app .item .bottom-section {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 20px;
  justify-content: center;
}
section.we-aap .slick-app .item .bottom-section img {
  width: 100%;
  border-radius: 50%;
}
section.we-aap .slick-app .item .bottom-section .name-position {
  display: grid;
  text-align: center;
  align-self: center;
}
section.we-aap .slick-app .item .bottom-section .name-position p {
  font-size: 12px;
  color: #58595b;
}
section.we-aap .slick-app .item .bottom-section .name-position strong {
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  section.we-aap .slick-app .item .bottom-section {
    grid-template-columns: 90px auto;
  }
  section.we-aap .slick-app .item .bottom-section .name-position p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1400px) {
  section.we-aap .slick-app .item .bottom-section {
    grid-template-columns: 135px auto;
  }
  section.we-aap .slick-app .item .bottom-section .name-position p {
    font-size: 22px;
  }
}


/* blue-bg-group */
.blue-bg-group {
  background-color: #153052;
  padding-top: 35px;
  background-position: bottom right;
  background-size: 100% auto;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .blue-bg-group {
    padding-top: 80px;
  } 
}

/* Insight */
section.insight {}
section.insight #slick-insight {
  /* grid-template-columns: 50px auto 50px; */
  text-align: center;
}


section.insight #slick-insight .slick-dots {
  margin-top: 25px;
}
section.insight .item {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
@media screen and (min-width: 992px) {
  section.insight #slick-insight {
    display: grid;
    gap: 20px;
  }
}
section.insight h1 {
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.79px;
  color: #59c5c5;
  position: relative;
  padding-bottom: 10px;
}
section.insight h1:after {
  content: "";
  height: 2px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
}
@media screen and (min-width: 992px) {
  section.insight h1:after {
    width: 152px;
  }
}
section.insight .slide-container {
  padding-top: 22px;
  padding-bottom: 22px;
}
section.insight .insight-form {
  margin-bottom: 35px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  section.insight h1 {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: left;
    padding-bottom: 25px;
  }
  section.insight .slide-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  section.insight .insight-form {
    margin-bottom: 65px;
  }
}
section.insight .item .top-image {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
 section.insight .item .top-image {
    margin-bottom: 30px;
  } 
}
section.insight .item .top-image .name {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #153052;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media screen and (min-width: 992px) {
  section.insight .item .top-image .name {
    font-size: 22px;
  }
}
section.insight .item .top-image .image {
  background-position: center center;
  background-size: cover;
  height: 200px;
  background-color: #EEE;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
section.insight .item {
  text-align: left;
}

section.insight .item .title {
  font-size: 16px;
  line-height: 1.36;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}

section.insight .item .description:after {
  content: "";
  height: 2px;
  width: 152px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #59c5c5;
}

section.insight .item .description {
  padding-top: 15px;
  position: relative;
  font-size: 14px;
  line-height: 1.44;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}
section.insight .item a {
  font-size: 16px;
  line-height: 1.36;
  color: #59c5c5;
}
@media screen and (min-width: 992px) {
  section.insight .item .title {
    font-size: 22px;
    padding-bottom: 10px;
  }
  section.insight .item .description {
    font-size: 16px;
    padding-top: 25px;
  }
  section.insight .item a {
    font-size: 22px;
  }
}
section.insight .slick-arrow {
  top: 20%;
}
@media screen and (max-width: 991px) {
  section.insight .item {
    max-width: 40vw;
  }  
}

@media screen and (max-width: 767px) {
  section.insight .item {
    max-width: 80vw;
  }  
}



section.insight .insight-form .title {
  font-size: 22px;
  color: #ffffff;
  display: block;
  vertical-align: middle;
}
section.insight .insight-form button {
  display: block;
  line-height: 40px;
  height: 40px;
  padding: 0 53px;
  border-radius: 20px;
  background-color: #8495ac;
  transition: 0.5s;
  font-size: 14px;
  letter-spacing: 0.88px;
  color: #ffffff;
  text-transform: uppercase;
  appearance: none;
  border: none;
  margin-right: auto;
  margin-left: auto;
}
section.insight .insight-form button:hover {
  background-color: #0376bd;
}
section.insight .insight-form form {
  display: block;
}
section.insight .insight-form input {
  padding: 0 20px;
  height: 40px;
  border-radius: 50px;
  border: none;
  margin: 15px;
}
@media screen and (min-width: 992px) {
  section.insight .insight-form .title {
    display: inline-block;
  }
  section.insight .insight-form form {
    display: inline-block;
  }
  section.insight .insight-form button {
    display: inline-block;
  }
}

/* Clients */
section.clients {}
section.clients h1 {
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.79px;
  color: #59c5c5;
  position: relative;
  padding-bottom: 10px;
}
section.clients h1:after {
  content: "";
  height: 2px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
}
section.clients .slide-container {
  padding-top: 22px;
  padding-bottom: 35px;
}
@media screen and (min-width: 992px) {
  section.clients h1:after {
    width: 152px;
  }
  section.clients h1 {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: left;
    padding-bottom: 25px;
    
  }
  section.clients .slide-container {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}
section.clients #slick-clients {
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 3px 8px 18px 0 rgba(155, 155, 155, 0.34);
  background-color: #ffffff;
}
section.clients #slick-clients .slick-app {
  margin-bottom: 22px;
}
@media screen and (min-width: 992px) {
  section.clients #slick-clients {
    padding: 30px 25px 25px 25px;
  }
  section.clients #slick-clients .slick-app  {
    display: grid;
    gap: 20px;
  }
}

#slick-clients .slick-app .item {}
@media screen and (min-width: 992px) {
  #slick-clients .slick-app .item {
    display: grid;
    gap: 20px;
    grid-template-columns: 35px 360px auto;
  }
}
@media screen and (min-width: 1200px) {
  #slick-clients .slick-app .item {
    grid-template-columns: 40px 500px auto;
  }
}
@media screen and (min-width: 1400px) {
  #slick-clients .slick-app .item {
    grid-template-columns: 50px 640px auto;
  }
}

#slick-clients .slick-app .item .quote img { 
  max-width: 100%; 
  margin-bottom: 10px;
}
#slick-clients .slick-app .item .video { 
  background-color: #EEE; 
  border-radius: 10px;
  height: 180px;
  display: block;
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}
#slick-clients .slick-app .item .video .play-btn {
  color: #FFFFFF;
  width: 49px;
  height: 49px;
  opacity: 0.7;
  background-blend-mode: multiply;
  background-image: linear-gradient(to bottom, #8495ac, #8495ac);
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
}
#slick-clients .slick-app .item .video .play-btn span {
  font-size: 30px;
  line-height: 49px;
}
@media screen and (min-width: 1200px) {
  #slick-clients .slick-app .item .video .play-btn {
      width: 79px;
      height: 79px;
  }
  #slick-clients .slick-app .item .video .play-btn span {
    font-size: 50px;
    line-height: 79px;
  }
}

#slick-clients .slick-app .item .video iframe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  border-radius: 10px;
}

@media screen and (max-width: 991px) {
  #slick-clients .slick-app .item .quote { width: 35px;}
}
@media screen and (min-width: 992px) {
  #slick-clients .slick-app .item .quote,
  #slick-clients .slick-app .item .video,
  #slick-clients .slick-app .item .description {
    height: 260px;
  }
}
@media screen and (min-width: 1200px) {
  #slick-clients .slick-app .item .quote,
  #slick-clients .slick-app .item .video,
  #slick-clients .slick-app .item .description {
    height: 300px;
  }
}
@media screen and (min-width: 1400px) {
  #slick-clients .slick-app .item .quote,
  #slick-clients .slick-app .item .video,
  #slick-clients .slick-app .item .description {
    height: 360px;
  }
}

#slick-clients .slick-app .item .video {
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
  #slick-clients .slick-app .item .video {
    margin-bottom: 0px;
  }
}
#slick-clients .slick-app .item .description .text {
  font-family: 'Shippori Mincho', serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.36;
  color: #58595b;
  text-align: left;
  line-height: 1.36;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}
#slick-clients .slick-app .item .description .name p {
  font-size: 16px;
  color: #58595b;
  text-align: left;
}
#slick-clients .slick-app .item .description .name p.desc {
  font-size: 14px;
}
@media screen and (min-width: 992px) {
  #slick-clients .slick-app .item .description .text {
    font-size: 18px;
    margin-bottom: 24px;
  }
  #slick-clients .slick-app .item .description .name p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  #slick-clients .slick-app .item .description .text {
    font-size: 22px;
    margin-bottom: 30px;
  }
  #slick-clients .slick-app .item .description .name p {
    font-size: 22px;
  }
  #slick-clients .slick-app .item .description .name p.desc {
    font-size: 16px;
  }
} 



/* Future */
section.the-future h1 {
  font-family: 'Shippori Mincho', serif;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.5px;
  text-align: center;
  color: #153052;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 32px;
}
section.the-future h1:after {
  content: "";
  height: 2px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #59c5c5;
  transform: translateX(-50%);
}
@media screen and (min-width: 992px) {
  section.the-future h1:after {
    width: 152px;
  }
}
section.the-future a {
  line-height: 40px;
  height: 40px;
  padding: 0 53px;
  border-radius: 20px;
  background-color: #8495ac;
  transition: 0.5s;
  font-size: 14px;
  letter-spacing: 0.88px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  margin: 15px;
}
section.the-future a:hover {
  background-color: #0376bd;
}
section.the-future a.button {
  background: linear-gradient(90deg, #0376bd 0%, #37bfd6 100%);
}

@media screen and (min-width: 992px) {
  section.the-future {
    padding: 177px 0;
  }
  section.the-future br {
    display: none;
  }
  section.the-future h1 {
    margin-bottom: 49px;
    font-size: 42px;
  }
}

/* Career */
section.career {
  padding: 46px 0;
  text-align: center;
  background-color: #153052;
}
section.career h1,
section.career p,
section.career a {
  margin-bottom: 30px;
  color: #ffffff;
}
section.career h1 {
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.79px;
  text-align: center;
  color: #59c5c5;
  position: relative;
  padding-bottom: 25px;
}
section.career h1:after {
  content: "";
  height: 2px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #FFFFFF;
  transform: translateX(-50%);
}
@media screen and (min-width: 992px) {
  section.career h1:after {
    width: 152px;
  }
}
section.career a {
  width: 165px;
  height: 40px;
  margin: 30px 65px 0 66px;
  padding: 12px 53px;
  border-radius: 20px;
  background-color: #8495ac;
  transition: 0.5s;
}
section.career a:hover {
  background-color: #0376bd;
}

@media screen and (min-width: 768px) {
  section.career {
    padding: 80px 0;
  } 
  section.career h1 {
    font-size: 40px;
    letter-spacing: 3px;
  }
  section.career h1,
  section.career a {
    margin-bottom: 50px;
  }
  section.career p {
    margin-bottom: 10px;
  }
  section.career p ~ p {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    white-space: nowrap;
  }
}